@page "/labels/label-mop";
@using HealthCareApp.Components.Message;
@using HealthCareApp.Components.Page;
@using HealthCareApp.Components.Toast;
@using HealthCareApp.Components.Spinner;
@using HealthCareApp.Settings.Enum;

<AuthorizeView>
    <Authorized>
        <PageWrapper>
            <PageHeader>
                <PageHeaderTitle Title="Label Mop"
                                 ParentLink="/labels"
                                 ParentTitle="Labels"/>
                <PageMenu>
                    <button type="button"
                            class="btn btn-info btn-rounded btn-icon text-white"
                            title="Add new label"
                            @onclick="() => OpenModalAddAsync()">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </PageMenu>
            </PageHeader>
            <PageBody Styles="p-2">
                <div class="flex-container">
                    <div class="flex-container-list ps-1 pe-2 border-end">
                        <div class="flex-container-list-search py-1">
                            <div class="row g-0">
                                <div class="col">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Start typing to search labels..."
                                           aria-label="search"
                                           @bind-value="_searchTerm"
                                           @oninput="SearchLabelMopAsync">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-evenly align-items-center">
                            <Spinner Size="Size.md" />
                        </div>
                        <div class="list-group gap-2">
                            @if (!_isSearchResults)
                            {
                                <Virtualize Context="labelMop"
                                            ItemsProvider="@LoadLabelMops"
                                            @ref="_virtualizeContainer">
                                    <ItemContent>
                                        <div class="list-group-item list-group-item-action hca-list-group-item d-flex gap-3 py-3 rounded">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <div class="d-flex align-items-center @(labelMop.IsActive ? "" : "text-black-50")"
                                                     role="button"
                                                     @onclick="() => ShowLabelMopDetails(labelMop)">
                                                    <i class="bi bi-upc-scan md-icon"></i>
                                                    <div class="ps-1">
                                                        <div class="mb-0 fs-5">
                                                            @labelMop.AreaName
                                                        </div>
                                                        <div>
                                                            <div class="text-muted">
                                                                @labelMop.Barcode
                                                            </div>
                                                            <div>
                                                                @labelMop.DepartmentName
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="form-check form-switch">
                                                        @if (labelMop.IsActive)
                                                            {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive"
                                                                   checked
                                                                   @onclick="() => UpdateLabelMopStatusAsync(labelMop)" />
                                                            }
                                                            else
                                                            {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive"
                                                                   @onclick="() => UpdateLabelMopStatusAsync(labelMop)" />
                                                            }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ItemContent>
                                    <Placeholder>
                                        <Spinner Size="Size.md" />
                                    </Placeholder>
                                </Virtualize>
                            }
                            @if (_isSearchResults)
                            {
                                <div></div>
                                @foreach (var labelMop in _results)
                                {
                                    <div class="list-group-item list-group-item-action hca-list-group-item d-flex gap-3 py-3 rounded">
                                        <div class="d-flex w-100 justify-content-between align-items-center">
                                            <div class="d-flex align-items-center @(labelMop.IsActive ? "" : "text-black-50")"
                                                 role="button"
                                                 @onclick="() => ShowLabelMopDetails(labelMop)">
                                                <i class="bi bi-columns-gap md-icon"></i>
                                                <div class="ps-1">
                                                    <div class="mb-0 fs-5">
                                                        @labelMop.AreaName
                                                    </div>
                                                    <div>
                                                        <div class="text-muted">
                                                            @labelMop.Barcode
                                                        </div>
                                                        <div>
                                                            @labelMop.DepartmentName
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="form-check form-switch">
                                                    @if (labelMop.IsActive)
                                                    {
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               role="switch"
                                                               id="IsActive"
                                                               checked
                                                               @onclick="() => UpdateLabelMopStatusAsync(labelMop)" />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               role="switch"
                                                               id="IsActive"
                                                               @onclick="() => UpdateLabelMopStatusAsync(labelMop)" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="flex-container-main ps-2">
                        <LabelMopDetails Info="_labelMopDetails" Loading="_isLoading" />
                        @if (!_isLoading && _labelMopDetails is not null)
                        {
                            <div class="d-flex flex-row justify-content-end">
                                <button type="button"
                                        class="btn btn-info btn-rounded text-white"
                                        @onclick="() => OpenModalUpdateAsync(_labelMopDetails.Id)"
                                        disabled>
                                    Update Details
                                </button>
                            </div>
                        }
                    </div>
                </div>
                <Toast />
            </PageBody>
            <PageFooter></PageFooter>
        </PageWrapper>
        <LabelMopModalAdd @ref="_labelMopModalAdd" OnSubmitSuccess="RefreshVirtualizeContainer" />
        <LabelMopModalUpdate @ref="_labelMopModalUpdate" OnSubmitSuccess="RefreshVirtualizeContainer" />
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>
