@using HealthCareApp.Components.Modal
@using HealthCareApp.Settings.Enum;

<Modal @ref="_modalAdd"
       Size="Size.lg">
    <Title>Add new Area</Title>
    <Body>
        <EditForm Model="@_area"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="FormAddArea">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-sm-8">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="DepartmentId">
                            Department
                        </label>
                        <div class="col-sm-8">
                            <InputSelect class="form-control"
                                         id="DepartmentId"
                                         @bind-Value="_area.DepartmentId"
                                         @oninput="OnValueChanged">
                                <option value="@Guid.Empty.ToString()">-- Select department --</option>
                                @foreach (var (department, index) in _departments.Select((value, index) => (value, index)))
                                {
                                    <option value="@department.Id">@department.Name</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label"
                               for="Name">
                            Name
                        </label>
                        <div class="col-sm-8">
                            <InputText class="form-control"
                                       id="Name"
                                       @bind-Value="_area.Name" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    @if (_displayValidationErrorMessages)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <label>Validation Messages: </label>
                                <ValidationSummary />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
        <button type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                @onclick="() => CloseModalAddAsync()">
            Cancel
        </button>
        <button type="submit"
                form="FormAddArea"
                class="btn btn-info btn-rounded text-white"
                disabled="@_isDisabled">
            Save
        </button>
    </Footer>
</Modal>
