<NavLink href="@ItemURL"
         class="@(Disabled ? "list-group-item list-group-item-action d-flex align-items-center border-white disabled" : "list-group-item list-group-item-action d-flex align-items-center border-white")" >
    <div class="w-100">
        <h5 class="mb-1">@Title</h5>
        <div class="d-flex w-100 justify-content-between align-items-center">
            <small>@Summary</small>
            <i class="@Icon @IconSize"></i>
        </div>
    </div>
</NavLink>
