<NavLink href="@ItemURL"
         class="@(Disabled ? "list-group-item list-group-item-action d-flex align-items-center border-white disabled" : "list-group-item list-group-item-action d-flex align-items-center border-white")" >
    <div class="d-flex w-100 justify-content-between">
        <div>
            <h5 class="mb-1">@Title</h5>
            <small class="mb-1">@Summary</small>
        </div>
    </div>
    <i class="@Icon @IconSize"></i>
</NavLink>
