<fieldset class="@FieldsetStyle">
    <legend><i class="@Icon pe-1"></i>Barcode label details</legend>
    <div class="row">
        <div class="col-sm-12">
            <label class="form-label fw-bolder"
                   for="Area">
                Area
            </label>
            <input type="text"
                   class="form-control-plaintext hca-form-control-plaintext"
                   id="Area"
                   value="@Model.AreaName"
                   readonly />
        </div>
        <div class="col-sm-12">
            <label class="form-label fw-bolder"
                   for="Department">
                Department
            </label>
            <input type="text"
                   class="form-control-plaintext hca-form-control-plaintext"
                   id="Department"
                   value="@Model.DepartmentName"
                   readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="form-label fw-bolder"
                   for="Quantity">
                Mops Quantity
            </label>
            <input type="text"
                   class="form-control-plaintext hca-form-control-plaintext"
                   id="Quantity"
                   value="@Model.Quantity"
                   readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <label class="form-label fw-bolder"
                   for="TimeOut">
                Pickup time
            </label>
            <input type="text"
                   class="form-control-plaintext hca-form-control-plaintext"
                   id="TimeOut"
                   value="@Model.TimeOut.ToString("hh:mm tt")"
                   readonly />
        </div>
        <div class="col-md-6 col-sm-12">
            <label class="form-label fw-bolder"
                   for="TimeIn">
                Return time
            </label>
            <input type="text"
                   class="form-control-plaintext hca-form-control-plaintext"
                   id="TimeIn"
                   value="@Model.TimeIn.ToString("hh:mm tt")"
                   readonly />
        </div>
    </div>
</fieldset>
