@using HealthCareApp.Components.Modal;
@using HealthCareApp.Settings.Enum;

<Modal @ref="_modalAdd"
       Size="Size.lg">
    <Title>Add new label</Title>
    <Body>
        <EditForm Model="@_labelMop"
                  OnValidSubmit="@HandleValidSubmitAsync"
                  OnInvalidSubmit="@HandleInvalidSubmitAsync"
                  autocomplete="off"
                  id="FormAddLabelMop">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-sm-8">
                    <fieldset>
                        <legend>Label details</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="AreaId">
                                Area
                            </label>
                            <div class="col-sm-8">
                                <InputSelect class="form-control"
                                             id="AreaId"
                                             @bind-Value="_labelMop.AreaId"
                                             @oninput="OnValueChanged">
                                    <option value="@Guid.Empty.ToString()">-- Select area --</option>
                                    @foreach (var (area, index) in _areas.Select((value, index) => (value, index)))
                                    {
                                        <option value="@area.Id">@area.Name (@area.DepartmentName)</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="CompanyName">
                                Company Name
                            </label>
                            <div class="col-sm-8">
                                <InputText class="form-control"
                                           id="CompanyName"
                                           @bind-Value="_labelMop.CompanyName" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="Quantity">
                                Mops Quantity
                            </label>
                            <div class="col-sm-8">
                                <InputNumber class="form-control"
                                             id="Quantity"
                                             @bind-Value="_labelMop.Quantity" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="TimeOut">
                                Pickup time
                            </label>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="TimeOut"
                                       type="time"
                                       @bind-value="_labelMop.TimeOut" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="TimeIn">
                                Return time
                            </label>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="TimeIn"
                                       type="time"
                                       @bind-value="_labelMop.TimeIn" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Barcode details</legend>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"
                                   for="TimeIn">
                                Barcode
                            </label>

                            <div class="col-sm-8">
                                <div class="row g-0">
                                    <div class="col-sm-8">
                                        <InputText class="form-control"
                                                    id="Barcode"
                                                    placeholder="Type or generate barcode"
                                                    @bind-Value="_labelMop.Barcode" />

                                    </div>
                                    <div class="col-sm-4 d-flex justify-content-end">
                                        <button type="button"
                                                class="btn btn-outline-primary btn-rounded"
                                                @onclick="() => GenerateBarcodeAsync()">
                                            Generate
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    @if (_displayValidationErrorMessages)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <label>Validation Messages: </label>
                                <ValidationSummary />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </EditForm>
    </Body>
    <Footer>
        <button type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                @onclick="() => CloseModalAddAsync()">
            Cancel
        </button>
        <button type="submit"
                form="FormAddLabelMop"
                class="btn btn-info btn-rounded text-white"
                disabled="@_isDisabled">
            Save
        </button>
    </Footer>
</Modal>
