@page "/admin/employees";
@using HealthCareApp.Settings.Theme;
@using HealthCareApp.Components.Message;
@using HealthCareApp.Components.PageV3;
@using HealthCareApp.Components.CardV3;
@using HealthCareApp.Components.Breadcrumb;
@using HealthCareApp.Components.Toast;
@using HealthCareApp.Components.Spinner;
@using HealthCareApp.Components.OffCanvas;
@using HealthCareApp.Settings.Enum;
@using HealthCareApp.Components.Badge;
@using HealthCareApp.Components.Dropdown;

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex flex-row">
                            <PageTopTitle Title="Employees" />
                            <sup>
                                <Badge BackgroundColor="@Level.Success.ToString().ToLower()" Message="New" />
                            </sup>
                        </div>
                        <Breadcrumb AppPageLink="@_appURL.AdminEmployees" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row flex-row-reverse justify-content-between pb-2">
                            <div class="col-2 col-md-3 col-lg-2 d-flex justify-content-end pb-2">
                                <DropdownActions IconColor="Theme.success">
                                    <li>
                                        <button class="dropdown-item"
                                                @onclick="() => AddRecordAsync()">
                                            <i class="bi bi-plus-lg pe-1"></i>New Employee
                                        </button>
                                    </li>
                                </DropdownActions>
                            </div>
                            <div class="col-10 col-md-6 col-lg-4 pb-2">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search for employees..."
                                       aria-label="search"
                                       @bind-value="_searchTerm"
                                       @oninput="SearchAsync">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <CardView>
                                    <CardMiddle>
                                        <div class="d-flex flex-row justify-content-evenly align-items-center">
                                            <Spinner Size="Size.md" />
                                        </div>
                                        <div class="table-responsive hca-table-wrap">
                                            <table class="table table-hover">
                                                <thead class="text-muted">
                                                    <tr>
                                                        <th class="col-3">
                                                            First name
                                                        </th>
                                                        <th class="col-3">
                                                            Last name
                                                        </th>
                                                        <th class="col-3">
                                                            Email
                                                        </th>
                                                        <th colspan="3">
                                                            Active?
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                    @if (!_hasSearchResults)
                                                    {
                                                        <Virtualize Context="person"
                                                                    ItemsProvider="@LoadEmployees"
                                                                    @ref="_virtualizeContainer">
                                                            <ItemContent>
                                                                <tr>
                                                                    <td>
                                                                        @person.EmployeeFirstName
                                                                    </td>
                                                                    <td>
                                                                        @person.EmployeeLastName
                                                                    </td>
                                                                    <td>
                                                                        @person.EmployeeEmail
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-switch">
                                                                            @if (person.IsActive)
                                                                                {
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       role="switch"
                                                                                       id="IsActive"
                                                                                       checked
                                                                                       @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                                }
                                                                                else
                                                                                {
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       role="switch"
                                                                                       id="IsActive"
                                                                                       @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                                }
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-link p-0 text-info"
                                                                                type="button"
                                                                                title="View details"
                                                                                @onclick="() => ViewDetailsAsync(person.Id)">
                                                                            <i class="bi bi-eye-fill"></i>

                                                                        </button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-link p-0 text-danger"
                                                                                type="button"
                                                                                title="Edit"
                                                                                @onclick="() => EditDetailsAsync(person.Id)">
                                                                            <i class="bi bi-pencil"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </ItemContent>

                                                            <Placeholder>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <Spinner Size="Size.md" />
                                                                    </td>
                                                                </tr>
                                                            </Placeholder>
                                                        </Virtualize>
                                                    }
                                                    @if (_hasSearchResults)
                                                    {
                                                        @foreach (var person in _searchResults)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @person.EmployeeFirstName
                                                                </td>
                                                                <td>
                                                                    @person.EmployeeLastName
                                                                </td>
                                                                <td>
                                                                    @person.EmployeeEmail
                                                                </td>
                                                                <td>
                                                                    <div class="form-check form-switch">
                                                                        @if (person.IsActive)
                                                                        {
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   role="switch"
                                                                                   id="IsActive"
                                                                                   checked
                                                                                   @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   role="switch"
                                                                                   id="IsActive"
                                                                                   @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                        }
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-link p-0 text-info"
                                                                            type="button"
                                                                            title="View details"
                                                                            @onclick="() => ViewDetailsAsync(person.Id)">
                                                                        <i class="bi bi-eye-fill"></i>

                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-link p-0 text-danger"
                                                                            type="button"
                                                                            title="Edit"
                                                                            @onclick="() => EditDetailsAsync(person.Id)">
                                                                        <i class="bi bi-pencil"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </CardMiddle>
                                </CardView>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>

            <Toast />
            <EmployeeOffCanvas @ref="_employeeOffCanvas" OnSubmitSuccess="RefreshVirtualizeContainer" />
        </Authorized>

        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
