@page "/admin/employees"
@using HealthCareApp.Settings.Theme
@using HealthCareApp.Components.Message
@using HealthCareApp.Components.PageV3
@using HealthCareApp.Components.CardV3
@using HealthCareApp.Components.Breadcrumb
@using HealthCareApp.Components.Toast
@using HealthCareApp.Components.Spinner
@using HealthCareApp.Components.OffCanvas
@using HealthCareApp.Settings.Enum
@using BaseLibrary

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>

                <PageTopView>
                    <PageTopWrapper>
                        <PageTopTitle Title="Employees" />
                        <Breadcrumb />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 pb-4">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Start typing to search employees..."
                                       aria-label="search"
                                       @bind-value="_searchTerm"
                                       @oninput="SearchEmployeeAsync">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <CardView>
                                    <CardMiddle>
                                        <div class="d-flex flex-row justify-content-evenly align-items-center">
                                            <Spinner Size="Size.Md" />
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead class="text-muted">
                                                    <tr>
                                                        <th>
                                                            First name
                                                        </th>
                                                        <th>
                                                            Last name
                                                        </th>
                                                        <th>
                                                            Email
                                                        </th>
                                                        <th colspan="3">
                                                            Active?
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-group-divider">

                                                    @if (!_isSearchResults)
                                                    {
                                                        <Virtualize Context="person"
                                                                    ItemsProvider="@LoadEmployees"
                                                                    @ref="_virtualizeContainer">
                                                            <ItemContent>
                                                                <tr class="py-5">
                                                                    <td>
                                                                        @person.EmployeeFirstName
                                                                    </td>
                                                                    <td>
                                                                        @person.EmployeeLastName
                                                                    </td>
                                                                    <td>
                                                                        @person.EmployeeEmail
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-switch">
                                                                            @if (person.IsActive)
                                                                                {
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       role="switch"
                                                                                       id="IsActive"
                                                                                       checked
                                                                                       @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                                }
                                                                                else
                                                                                {
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       role="switch"
                                                                                       id="IsActive"
                                                                                       @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                                }
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <button class="btn btn-link p-0 text-info"
                                                                                type="button"
                                                                                data-bs-toggle="offcanvas"
                                                                                data-bs-target="#offcanvasRight"
                                                                                aria-controls="offcanvasRight"
                                                                                title="View details">
                                                                                <i class="bi bi-eye"></i>

                                                                        </button>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <button class="btn btn-link p-0 text-danger"
                                                                                type="button"
                                                                                data-bs-toggle="offcanvas"
                                                                                data-bs-target="#offcanvasRight"
                                                                                aria-controls="offcanvasRight"
                                                                                title="Edit">
                                                                                <i class="bi bi-pencil"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </ItemContent>

                                                            <Placeholder>
                                                                <tr>
                                                                    <td colspan="6">
                                                                        <Spinner Size="Size.Md" />
                                                                    </td>
                                                                </tr>
                                                            </Placeholder>
                                                        </Virtualize>
                                                    }
                                                    @if (_isSearchResults)
                                                    {
                                                        @foreach (var person in _results)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @person.EmployeeFirstName
                                                                </td>
                                                                <td>
                                                                    @person.EmployeeLastName
                                                                </td>
                                                                <td>
                                                                    @person.EmployeeEmail
                                                                </td>
                                                                <td>
                                                                    <div class="form-check form-switch">
                                                                        @if (person.IsActive)
                                                                        {
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   role="switch"
                                                                                   id="IsActive"
                                                                                   checked
                                                                                   @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   role="switch"
                                                                                   id="IsActive"
                                                                                   @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                        }
                                                                    </div>
                                                                </td>
                                                                <td><i class="bi bi-eye pe-1">View</i></td>
                                                                <td><i class="bi bi-pencil pe-1"></i>Edit</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </CardMiddle>
                                </CardView>


                            </div>

                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView />

            </PageWrapper>


            @*<PageWrapper>
                    <PageHeader>
                        <PageHeaderTitle Title="Employees" />
                        <PageMenu>
                            <button type="button"
                                    class="btn btn-info btn-rounded btn-icon text-white"
                                    title="Add new employee"
                                    @onclick="() => OpenModalAddAsync()">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </PageMenu>
                    </PageHeader>
                    <PageBody Styles="p-2">
                        <div class="flex-container">
                            <div class="flex-container-list ps-1 pe-2 border-end">
                                <div class="flex-container-list-search py-1">
                                    <div class="row g-0">
                                        <div class="col">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Start typing to search employees..."
                                                   aria-label="search"
                                                   @bind-value="_searchTerm"
                                                   @oninput="SearchEmployeeAsync">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-evenly align-items-center">
                                    <Spinner Size="Size.Md" />
                                </div>
                                <div class="list-group gap-2">
                                    @if (!_isSearchResults)
                                    {
                                        <Virtualize Context="person"
                                                    ItemsProvider="@LoadEmployees"
                                                    @ref="_virtualizeContainer">
                                            <ItemContent>
                                                <div class="list-group-item list-group-item-action hca-list-group-item d-flex gap-3 py-3 hca-border-radius">
                                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                                        <div class="d-flex @(person.IsActive ? "" : "text-black-50")"
                                                             role="button"
                                                             @onclick="() => ShowEmployeeDetails(person)">
                                                            <i class="bi bi-person md-icon"></i>
                                                            <div class="ps-1">
                                                                <div class="mb-0 fs-5">
                                                                    @person.EmployeeFirstName.Truncate((int)Truncate.FirstName) @person.EmployeeLastName.Truncate((int)Truncate.LastName)
                                                                </div>
                                                                <div>
                                                                    <div class="text-muted">
                                                                        @person.EmployeeUsername
                                                                    </div>
                                                                    <div>
                                                                        @person.ContactDetails.Email
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="form-check form-switch">
                                                                @if (person.IsActive)
                                                                    {
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           role="switch"
                                                                           id="IsActive"
                                                                           checked
                                                                           @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                    }
                                                                    else
                                                                    {
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           role="switch"
                                                                           id="IsActive"
                                                                           @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                                    }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ItemContent>
                                            <Placeholder>
                                                <Spinner Size="Size.Md" />
                                            </Placeholder>
                                        </Virtualize>
                                    }
                                    @if (_isSearchResults)
                                    {
                                        <div></div>
                                        @foreach (var person in _results)
                                        {
                                            <div class="list-group-item list-group-item-action hca-list-group-item d-flex gap-3 py-3 hca-border-radius">
                                                <div class="d-flex w-100 justify-content-between align-items-center">
                                                    <div class="d-flex @(person.IsActive ? "" : "text-black-50")"
                                                         role="button"
                                                         @onclick="() => ShowEmployeeDetails(person)">
                                                        <i class="bi bi-person md-icon"></i>
                                                        <div class="ps-1">
                                                            <div class="mb-0 fs-5">
                                                                @person.EmployeeFirstName.Truncate((int)Truncate.FirstName) @person.EmployeeLastName.Truncate((int)Truncate.LastName)
                                                            </div>
                                                            <div>
                                                                <div class="text-muted">
                                                                    @person.EmployeeUsername
                                                                </div>
                                                                <div>
                                                                    @person.ContactDetails.Email
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="form-check form-switch">
                                                            @if (person.IsActive)
                                                            {
                                                                <input class="form-check-input"
                                                                       type="checkbox"
                                                                       role="switch"
                                                                       id="IsActive"
                                                                       checked
                                                                       @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input"
                                                                       type="checkbox"
                                                                       role="switch"
                                                                       id="IsActive"
                                                                       @onclick="() => UpdateEmployeeStatusAsync(person)" />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="flex-container-main ps-2">
                                <EmployeeDetails Info="_employeeDetails" Loading="_isLoading" />
                                @if (!_isLoading && _employeeDetails is not null)
                                {
                                    <div class="d-flex flex-row justify-content-end">
                                        <button type="button"
                                                class="btn btn-info btn-rounded text-white"
                                                @onclick="() => OpenModalUpdateAsync(_employeeDetails.Id)">
                                            Update Details
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                        <Toast />
                    </PageBody>
                    <PageFooter></PageFooter>
                </PageWrapper>*@
            <EmployeeModalAdd @ref="_employeeModalAdd" OnSubmitSuccess="RefreshVirtualizeContainer" />
            <EmployeeModalUpdate @ref="_employeeModalUpdate" OnSubmitSuccess="RefreshVirtualizeContainer" />
            <OffCanvas Position="end" Id="offcanvasRight" LabelId="offcanvasRightLabel">
                <hr />
                <span>
                    Details
                </span>

            </OffCanvas>
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
