@page "/playground/badge";
@using HealthCareApp.Components.PageV3;
@using HealthCareApp.Components.Breadcrumb;
@using HealthCareApp.Components.CardV3;
@using HealthCareApp.Components.Badge;
@using HealthCareApp.Settings.Enum;

<div class="container-lg">
    <PageWrapper>

        <PageTopView>
            <PageTopWrapper>

                <PageTopTitle Title="Badge" />
                <Breadcrumb AppPageLink="@_appURL.PlaygroundBadge" />

            </PageTopWrapper>
        </PageTopView>

        <PageMiddleView>
            <PageMiddleWrapper>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <p>
                                <h4 class="hca-app-title">How to use</h4>
                                <hr />
                            </p>

                            @foreach (var markupString in _componentMarkupList)
                            {
                                <div>
                                    <h5>@markupString.Title</h5>
                                    <p class="highlight p-2">
                                        <code>
                                            @foreach (var (item, index) in markupString.Code.Select((value, index) => (value, index)))
                                            {
                                                <span class="@markupString.CssStyle[index]">
                                                    @item
                                                </span>
                                                <br />
                                                @if (@markupString.NewLine[index])
                                                {
                                                    <br />
                                                }
                                            }
                                        </code>
                                    </p>
                                </div>
                            }
                        </div>
                        <div class="col-sm-12 col-md-6 markup-background rounded">
                            <p>
                                <h4 class="text-black-50">Example</h4>
                                <hr />
                            </p>
                            <div class="container-lg">

                                <div class="row justify-content-center">
                                    <div class="col-sm-10 py-4">
                                        <CardView>
                                            <CardMiddle>
                                                <div class="d-flex flex-column justify-content-evenly align-items-center">
                                                    <Badge BackgroundColor="@Level.Info.ToString().ToLower()" Message="Info message!" />
                                                    <br />
                                                    <Badge BackgroundColor="@Level.Success.ToString().ToLower()" Message="Success message!" />
                                                    <br />
                                                    <Badge BackgroundColor="@Level.Warning.ToString().ToLower()" Message="Warning message!" />
                                                    <br />
                                                    <Badge BackgroundColor="@Level.Danger.ToString().ToLower()" Message="Error message!" />
                                                </div>
                                            </CardMiddle>
                                        </CardView>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </PageMiddleWrapper>
        </PageMiddleView>

        <PageBottomView>
            <PageBottomWrapper />
        </PageBottomView>
    </PageWrapper>
</div>
