@page "/tracking-inventory/mops"
@using HealthCareApp.Components.PageV2
@using HealthCareApp.Components.Message
@using HealthCareApp.Components.Toast
@using HealthCareApp.Components.Spinner
@using HealthCareApp.Settings.Enum

<AuthorizeView>
    <Authorized>

        <PageWrapper>

            <PageHeaderView>
                <PageHeaderWrapper Styles="">
                    <PageHeaderTitle Title="Mops"
                                     ParentTitle="Tracking inventory"
                                     ParentLink="/tracking-inventory" />
                    <PageHeaderMenu>
                    </PageHeaderMenu>
                </PageHeaderWrapper>
            </PageHeaderView>

            <PageBodyView>
                <PageBodyWrapper Styles="mt-3">
                    <div class="container">
                        <div class="row align-items-center sticky-top hca-bg-default">
                            <div class="col-sm-8 bg-opacity-25 hca-bg-label-scan p-2 @(_isInputFocus ? "bg-info" : "bg-warning")">
                                <input type="text" class="form-control"
                                       placeholder="Scan label..."
                                       autocomplete="off"
                                       id="Barcode"
                                       @bind="_barcode"
                                       @onfocusin="SetInputFocusInAsync"
                                       @onfocusout="SetInputFocusOutAsync"
                                       @oninput="OnValueChanged" />

                            </div>
                            <div class="col-auto">
                                <button type="button"
                                        class="btn btn-info btn-rounded text-white w-140"
                                        @onclick="() => OpenModalPickupAsync()"
                                        disabled="@_isDisabled"
                                    >
                                    @if (_isLoading)
                                    {
                                        <span>
                                            <Spinner Size="Size.Sm" Color="Level.White" />
                                            Searching...
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            Set pickup time
                                        </span>
                                    }
                                </button>
                            </div>
                            <div class="col-auto">
                                <button type="button"
                                        class="btn btn-light btn-rounded "
                                        @onclick="() => OpenModalDateRangeAsync()">
                                    <i class="bi bi-calendar-range"></i>
                                    Change Date
                                </button>
                            </div>
                        </div>
                        <div class="row hca-data-list-body">
                            <div class="col-sm-12">
                                <Virtualize Context="trackinInventoryMop"
                                            ItemsProvider="@LoadTrackingInventoryMops"
                                            @ref="_virtualizeContainer">
                                    <ItemContent>
                                        <div class="list-group-item list-group-item-action hca-list-group-item d-flex gap-3 py-3 hca-border-radius">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <div class="d-flex align-items-center @(trackinInventoryMop.IsActive ? "" : "text-black-50")"
                                                     role="button">
                                                    <i class="bi bi-upc-scan md-icon"></i>
                                                    <div class="ps-1">
                                                        <div class="mb-0 fs-5">
                                                            @trackinInventoryMop.AreaName
                                                        </div>
                                                        <div>
                                                            <div class="text-muted">
                                                                @trackinInventoryMop.Barcode
                                                            </div>
                                                            <div>
                                                                @trackinInventoryMop.DepartmentName
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div>
                                                    <div class="form-check form-switch">
                                                        @if (trackinInventoryMop.IsActive)
                                                        {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive"
                                                                   checked
                                                                   @onclick="() => UpdateLabelMopStatusAsync(labelMop)" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   role="switch"
                                                                   id="IsActive"
                                                                   @onclick="() => UpdateLabelMopStatusAsync(labelMop)" />
                                                        }
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </ItemContent>
                                    <Placeholder>
                                        <Spinner Size="Size.Md" />
                                    </Placeholder>
                                </Virtualize>
                            </div>
                        </div>

                    </div>
                </PageBodyWrapper>
            </PageBodyView>

            <PageFooterView />

        </PageWrapper>
        <TrackingInventoryMopModalPickup @ref="_trackingInventoryMopModalPickup" OnSubmitSuccess="RefreshVirtualizeContainer" />
        <Toast />
    </Authorized>

    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>

</AuthorizeView>
