<ul class="nav nav-pills nav-fill flex-column flex-md-row">
    <li class="nav-item">
        <NavLink class="nav-link" aria-current="page" href="@_appURL.IdentityAccountManage" Match="NavLinkMatch.All">
            Profile
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" aria-current="page" href="@_appURL.IdentityAccountManageEmail" Match="NavLinkMatch.All">
            Email
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" aria-current="page" href="@_appURL.IdentityAccountManageChangePassword" Match="NavLinkMatch.All">
            Password
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" aria-current="page" href="@_appURL.IdentityAccountManageTwoFactorAuthentication" Match="NavLinkMatch.All">
            Two-factor authentication
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" aria-current="page" href="@_appURL.IdentityAccountManagePersonalData" Match="NavLinkMatch.All">
            Personal data
        </NavLink>
    </li>
</ul>
