@page "/admin/departments";
@using HealthCareApp.Components.PageV3;
@using HealthCareApp.Components.Breadcrumb;
@using HealthCareApp.Components.CardV3;
@using HealthCareApp.Settings.Theme;
@using HealthCareApp.Components.Message;
@using HealthCareApp.Components.Toast;
@using HealthCareApp.Components.Spinner;
@using HealthCareApp.Components.Tooltip;
@using HealthCareApp.Components.Badge;
@using HealthCareApp.Settings.Enum;
@using HealthCareApp.Components.Dropdown;

<div class="container-lg">
    <AuthorizeView>
        <Authorized>
            <PageWrapper>
                <PageTopView>
                    <PageTopWrapper>
                        <div class="d-flex flex-row">
                            <PageTopTitle Title="Departments & areas" />
                            <sup>
                                <Badge BackgroundColor="@Level.Success.ToString().ToLower()" Message="New" />
                            </sup>
                        </div>
                        <Breadcrumb AppPageLink="@_appURL.AdminDepartments" />
                    </PageTopWrapper>
                </PageTopView>

                <PageMiddleView>
                    <PageMiddleWrapper>
                        <div class="row flex-row-reverse justify-content-between align-items-center pb-2">
                            <div class="col-2 col-md-3 col-lg-2 d-flex justify-content-end pb-2">
                                <DropdownActions IconColor="Theme.success">
                                    <li>
                                        <button class="dropdown-item"
                                                @onclick="() => AddAreaAsync()">
                                            <i class="bi bi-plus-lg pe-1"></i>New Area
                                        </button>
                                    </li>
                                    <li class="pb-1">
                                        <button class="dropdown-item"
                                                @onclick="() => ViewDepartmentAsync()">
                                            <i class="bi bi-eye-fill pe-1"></i>View Departments
                                        </button>
                                    </li>
                                </DropdownActions>
                            </div>
                            <div class="col-10 col-md-6 col-lg-4 pb-2">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search for areas..."
                                       aria-label="search"
                                       @bind-value="_searchTerm"
                                       @oninput="SearchAsync">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <CardView>
                                    <CardMiddle>
                                        <div class="d-flex flex-row justify-content-evenly align-items-center">
                                            <Spinner Size="Size.md" />
                                        </div>
                                        <div class="table-responsive hca-table-wrap">
                                            <table class="table table-hover">
                                                <thead class="text-muted">
                                                    <tr>
                                                        <th class="col-7">
                                                            Area
                                                            <Tooltip Position="Position.top"
                                                                     BackgroundColor="Theme.light"
                                                                     Title="Areas are sectors or locations within each department in the organization." />
                                                        </th>
                                                        <th class="col-2">
                                                            Department
                                                        </th>
                                                        <th colspan="3">
                                                            Active?
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                    @if (!_hasSearchResults)
                                                    {
                                                        <Virtualize Context="area"
                                                                    ItemsProvider="@LoadAreas"
                                                                    @ref="_virtualizeContainer">
                                                            <ItemContent>
                                                                <tr>
                                                                    <td>
                                                                        @area.Name
                                                                    </td>
                                                                    <td>
                                                                        @area.DepartmentName
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-check form-switch">
                                                                            @if (area.IsActive)
                                                                            {
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       role="switch"
                                                                                       id="IsActive"
                                                                                       checked
                                                                                       @onclick="() => UpdateAreaStatusAsync(area)" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       role="switch"
                                                                                       id="IsActive"
                                                                                       @onclick="() => UpdateAreaStatusAsync(area)" />
                                                                            }
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-link p-0 text-info"
                                                                                type="button"
                                                                                title="View details"
                                                                                @onclick="() => ViewDetailsAsync(area.Id)">
                                                                            <i class="bi bi-eye-fill"></i>

                                                                        </button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-link p-0 text-danger"
                                                                                type="button"
                                                                                title="Edit"
                                                                                @onclick="() => EditDetailsAsync(area.Id)">
                                                                            <i class="bi bi-pencil"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </ItemContent>
                                                            <Placeholder>
                                                                <tr>
                                                                    <td colspan="5">
                                                                        <Spinner Size="Size.md" />
                                                                    </td>
                                                                </tr>
                                                            </Placeholder>
                                                        </Virtualize>
                                                    }
                                                    @if (_hasSearchResults)
                                                    {
                                                        @foreach (var area in _areaDtoResults)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @area.Name
                                                                </td>
                                                                <td>
                                                                    @area.DepartmentName
                                                                </td>
                                                                <td>
                                                                    <div class="form-check form-switch">
                                                                        @if (area.IsActive)
                                                                        {
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   role="switch"
                                                                                   id="IsActive"
                                                                                   checked
                                                                                   @onclick="() => UpdateAreaStatusAsync(area)" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input"
                                                                                   type="checkbox"
                                                                                   role="switch"
                                                                                   id="IsActive"
                                                                                   @onclick="() => UpdateAreaStatusAsync(area)" />
                                                                        }
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-link p-0 text-info"
                                                                            type="button"
                                                                            title="View details"
                                                                            @onclick="() => ViewDetailsAsync(area.Id)">
                                                                        <i class="bi bi-eye-fill"></i>

                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-link p-0 text-danger"
                                                                            type="button"
                                                                            title="Edit"
                                                                            @onclick="() => EditDetailsAsync(area.Id)">
                                                                        <i class="bi bi-pencil"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </CardMiddle>
                                </CardView>
                            </div>
                        </div>
                    </PageMiddleWrapper>
                </PageMiddleView>

                <PageBottomView>
                    <PageBottomWrapper />
                </PageBottomView>
            </PageWrapper>
            <Toast />
            <AreaOffCanvas @ref="_areaOffCanvas" OnSubmitSuccess="RefreshVirtualizeContainer" />
            <DepartmentModal @ref="_departmentModal" OnSubmitSuccess="RefreshLists" />
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedMessage />
        </NotAuthorized>
    </AuthorizeView>
</div>
