@using HealthCareApp.Components.CardV3;
@using HealthCareApp.Components.Badge;
@using HealthCareApp.Components.Chart;

@using HealthCareApp.Settings.Enum;

<CardView>
    <CardMiddle>
        <div class="row justify-content-between">
            <div class="col-auto">
                <h6 class="text-uppercase">
                    Mop usage
                    <sup>
                        <Badge BackgroundColor="@Level.Danger.ToString().ToLower()"
                               Message="Coming soon" />
                    </sup>
                </h6>
            </div>
            <div class="col-auto">
                <i class="bi bi-graph-up display-6 text-warning"></i>
            </div>
        </div>

        <div>
            <p class="lead">
                Graphic will show total amount of clean, dirth and missing mops by the selected date range.
            </p>
            <strong>Date range options:</strong>
            <ul>
                <li>Default: current month </li>
                <li>Custom: select date range</li>
            </ul>
            <Chart ChartId="MopUsage"
                   ChartType="ChartType.Bar"
                   LabelTitle="Mop Usage Chart"
                   Data="@(new[] {"8", "38" , "88"} )"
                   BackgroundColor="@( new[] {"rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(75, 192, 192, 0.2)"})"
                   BorderColor="@( new[] {"rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(75, 192, 192)"})"
                   Labels="@(new[] {"missing", "dirty", "clean" } )" />
        </div>
    </CardMiddle>
</CardView>
