@inject NavigationManager NavManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <MessageView
                    Icon="bi-search lg-icon text-warning"
                    Title="Page not found"
                    Message="Sorry, we could not find the page.">
                    <ChildContent>
                        <button class="btn btn-outline-primary" @onclick="OnClick">Back to Home</button>
                    </ChildContent>
                </MessageView>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
    public string url = "/";

    private void OnClick()
    {
        NavManager.NavigateTo(url);

    }
}
