@inject NavigationManager NavManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="page-404">
                    <p class="h1 pb-5">Sorry, page not found.</p>
                    <p>
                        <button class="btn btn-primary" @onclick="OnClick">Back to Home</button>
                    </p>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
    public string url = "/";

    private void OnClick()
    {
        NavManager.NavigateTo(url);

    }

}
