@using HealthCareApp.Components.Message

@inject NavigationManager NavManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="row py-5">
                    <div class="col-sm-12 col-md-4 col-lg-4 m-auto">
                        <MessageView Icon="bi-search lg-icon text-warning"
                                     Title="Page not found"
                                     Message="Sorry, we could not find the page.">
                            <ChildContent>
                                <button class="btn btn-light btn-rounded" @onclick="OnClick">Back to Home</button>
                            </ChildContent>
                        </MessageView>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
    public string url = "/dashboard";

    private void OnClick()
    {
        NavManager.NavigateTo(url);

    }
}
