@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject NavigationManager navigationManager

<Title value="@Title"></Title>
@if (IsVisible)
{
    <nav class="@(ParentTitle.Length > 0 ? "breadcrumb-divider hca-breadcrumb" : "breadcrumb-no-divider" )" aria-label="breadcrumb">
        <ul class="breadcrumb mb-0 display-6 text-capitalize">
            <li class="breadcrumb-item"><a href="@ParentLink">@ParentTitle</a></li>
            <li class="breadcrumb-item active" aria-current="@Title">@Title</li>
        </ul>
    </nav>
}
